{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="text-justify">
                        Omega Beta Eta is committed to creating a support system for Arab men on campus, fostering a
                        community as student leaders.
                    </p>
                    <p class="text-justify">
                        We strive to provide academic support for our Brothers, as well as establishing resources for
                        success in every aspect of life.
                    </p>
                    <p class="text-justify">
                        We work to provide opportunities for leadership and personal development for our brothers and the
                        Arab community on campus, to empower our community as a whole.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}