{% extends 'base.html' %}

{% block content %}
<div class="container py-5 d-flex justify-content-center align-items-center">
    <div class="col-md-8 col-lg-6">
        <div class="text-center mb-4">
            <!-- Add spacing to the title -->
            <h2 class="mb-5">About Omega Beta Eta</h2>
            <p>
                Omega Beta Eta is committed to creating a support system for Arab men on campus, fostering a community of student leaders.
            </p>
            <p>
                We strive to provide academic support for our Brothers, as well as establishing resources for success in every aspect of life.
            </p>
            <p>
                Our mission is to offer opportunities for leadership and personal development for our brothers and the Arab community on campus, empowering our community as a whole.
            </p>
        </div>
    </div>
</div>
{% endblock %}
