<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ΩBH</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/static/images/jawad.jpeg" alt="image"></a>
        </div>
        <a href="/login/">Login</a>
        <nav class="navbar">
            <a href="/about/">About</a>
            <a href="/brothers/">Brothers</a>
            <a href="/gallery/">Gallery</a>
            <a href="/calendar/">Calendar</a>
            <a href="/contact/">Contact</a>
            <a href="/donate/">Donate</a>
            <a href="/apply/">Apply</a>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="footer-container">
            <a href="#" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
         <!-- Copyright notice -->
        <div>
            &copy; Omega Beta Eta Arab Fraternity Incorporated.
        </div>
    </footer>

   

</body>
</html>