<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ΩBH</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/" class="link-no-style"><img src="/static/images/OBHLogo.png" alt="image"></a>
            <a href="/" class="link-no-style">
            <div class="logoname">
                <p>Omega Beta Eta</p>
                <p>Fraternity</p>
            </div>
            </a>
        </div>
        <nav class="navbar">
            <a href="/about/">About</a>
            <a href="/brothers/">Brothers</a>
            <a href="/gallery/">Gallery</a>
            <a href="/calendar/">Calendar</a>
            <a href="/contact/">Contact</a>
            <a href="/donate/">Donate</a>
            <a href="/apply/">Apply</a>
            <a href="/portal/">Portal</a>
        </nav>
    </header>


    <div class="main-info">
    {% block content %}{% endblock %}
    </div>

   
</body>
<footer>
    <div class="footer-container">
        <a href="https://www.instagram.com/omegabetaeta/?hl=en" class="social-icon" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/@OmegaBetaEta" class="social-icon" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
     <!-- Copyright notice -->
    <div>
        &copy; Omega Beta Eta Arab Fraternity Incorporated.
    </div>
</footer>
</html>