{% extends 'base.html' %}
{% block content %}
    <main>
        <section class="gallery">
            <div class="container">
                <h1 class="text-center mb-4">Active Brothers</h1>
                <div class="row">
                    {% for brother in brothers %}
                    <div class="col-md-3 mb-4">
                        <a href="/brothers/{{ brother['username'] }}/" class="link-no-style">
                            <div class="gallery-item card bg-dark text-white h-100">
                                <img class="card-img-top" src="/uploads/{{ brother.profile_picture }}" alt="{{ brother.fullname }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ brother.fullname }}</h5>
                                    <p class="card-text">{{ brother.line_name }}</p>
                                    <p class="card-text">{{ brother.uniqname }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
