{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card bg-dark text-white shadow-sm mb-4 border-gold rounded">
                <div class="row no-gutters">
                    <!-- Left Column: Profile Picture and Info -->
                    <div class="col-md-6">
                        <div class="card-body h-100 d-flex flex-column">
                            <div class="text-center mb-4">
                                <img src="/uploads/{{ profile_picture }}" alt="Profile Picture" class="img-fluid rounded">
                            </div>
                            <div class="bg-secondary p-4 flex-grow-1 rounded">
                                <div class="mb-3"><strong>Name:</strong> {{ fullname }}</div>
                                <div class="mb-3"><strong>Major:</strong> {{ major }}</div>
                                <div class="mb-3"><strong>Grad Time:</strong> {{ grad_time }}</div>
                                <div class="mb-3"><strong>Cross Time:</strong> {{ cross_time }}</div>
                                <div class="mb-3"><strong>Line:</strong> {{ line }}</div>
                                <div class="mb-3"><strong>Line Number:</strong> {{ line_num }}</div>
                                <div><strong>Lion Name:</strong> {{ lion_name }}</div>
                            </div>
                        </div>
                    </div>
                    <!-- Right Column: Profile Description -->
                    <div class="col-md-6">
                        <div class="card-body h-100 d-flex flex-column">
                            <div class="bg-secondary p-4 flex-grow-1 rounded d-flex flex-column">
                                <div class="text-center mb-4">
                                    <strong class="h4">About Me</strong>
                                </div>
                                <div class="flex-grow-1">{{ desc }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
