{% extends 'base.html' %}
{% block content %}
<div class="login-form-container py-5 d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes list-unstyled">
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <form action="/login/?target=/portal/" method="post" enctype="multipart/form-data" class="login-form">
            <div class="mb-3 form-group">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control" required/>
            </div>
            <div class="mb-3 form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" required/>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" value="Login" class="btn btn-primary"/>
                <input type="hidden" name="operation" value="login"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
