{% extends 'portal_base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for key in brothers.keys() %}
            <section class="col-md-12 mb-4">
                <h2 class="category-title">{{ key }}</h2>
                <div class="row">
                    {% for brother in brothers[key] %}
                        <div class="col-md-3 mb-3">
                            <div class="card h-100">
                                <div class="card-body text-center">
                                    <a class="link-no-style" href="/portal/directory/{{ brother['username'] }}/">
                                        {{ brother['fullname'] }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    </div>
</div>
{% endblock %}
