{% extends 'portal_base.html' %}
{% block content %}
<div class="brothers-container">
    {% for key in brothers.keys() %}
        <section class="category">
            <h1 class="category-title">{{ key }}</h1>
            <div class="brothers-list">
                {% for brother in brothers[key] %}
                    <div class="brother-item">
                        <a class="link-no-style" href="/portal/directory/{{ brother['username'] }}/">{{ brother['fullname'] }}</a>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endfor %}
</div>
{% endblock %}
