{% extends 'portal_base.html' %}
{% block content %}
<div class="log-container">
    <h1>Change Log</h1>
    <div class="log-table-container">
        <table class="log-table">
            <thead>
                <tr>
                    <th>Change Time</th>
                    <th>Username</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in log %}
                <tr>
                    <td>{{ entry.change_time }}</td>
                    <td>{{ entry.username }}</td>
                    <td>{{ entry.desc }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
