{% extends 'portal_base.html' %}
{% block content %}
<div class="container mt-4">
    <h1>Change Log</h1>
    <div class="table-responsive mt-4">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Change Time</th>
                    <th>User ID</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in log %}
                <tr>
                    <td>{{ entry.change_time }}</td>
                    <td>{{ entry.user_id }}</td>
                    <td>{{ entry.desc }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
