<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ΩBH</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_portal.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function confirmLogout(event) {
            event.preventDefault();
            if (confirm('Are you sure you want to log out?')) {
                window.location.href = event.target.href;
            }
        }
    </script>
</head>
<body>
    <div class="d-flex">
        <aside class="sidebar">
            <div class="logo text-center">
                <a href="/">
                    <img src="{{ url_for('static', filename='images/OBHLogo.png') }}" alt="Logo">
                </a>
            </div>
            <nav>
                <ul class="nav flex-column text-center">
                    <li class="nav-item"><a class="nav-link" href="/portal/">Portal Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/portal/recruits/">Recruits</a></li>
                    <li class="nav-item"><a class="nav-link" href="/portal/directory/">Directory</a></li>
                    <li class="nav-item"><a class="nav-link" href="/portal/log/">Log</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://drive.google.com/drive/folders/1MAkIRkn9wQO7LCRvAst0xSzoTW2aUG35?usp=sharing" target="_blank">Files</a></li>
                    <li class="nav-item"><a class="nav-link" href="/portal/upload/">Upload</a></li>
                    <li class="nav-item"><a class="nav-link" href="/portal/logout/" onclick="confirmLogout(event)">Logout</a></li>
                </ul>
            </nav>
        </aside>
        <main class="main-content flex-grow-1">
            <header class="d-flex justify-content-end align-items-center mb-4">
                <a href="/portal/account/" class="link-no-style">
                    <div class="profile d-flex align-items-center">
                        <div class="profile-info mr-2 text-right">
                            <p class="profile-name">{{ session.get('name') }}</p>
                        </div>
                        <div class="profile-pic">
                            <img src="/uploads/{{ session.get('pfp') }}" alt="Profile Picture">
                        </div>
                    </div>
                </a>
            </header>
            <div class="main-info bg-white p-4 rounded shadow">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
</body>
</html>
