{% extends 'portal_base.html' %} {% block content %}
<section class="recruits mb-4">
  <h2 class="mb-4">Recruits</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Uniqname</th>
        <th>Email</th>
        {% if can_change %}
        <th>Line Number</th>
        <th>Lion Name</th>
        <th>Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for recruit in recruits %}
      <tr id="recruit-{{ recruit.uniqname }}">
        <td>{{ recruit.fullname }}</td>
        <td>{{ recruit.uniqname }}</td>
        <td>{{ recruit.email }}</td>
        {% if can_change %}
        <td>
          <input
            type="number"
            class="form-control line-num"
            data-id="{{ recruit.uniqname }}"
            value="{{ recruit.line_num }}"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control lion-name"
            data-id="{{ recruit.uniqname }}"
            value="{{ recruit.lion_name }}"
          />
        </td>
        <td>
          {% if recruit.accept %}
          <button
            class="btn accepted-btn"
            data-id="{{ recruit.uniqname }}"
            style="background-color: grey; color: black"
          >
            Accepted
          </button>
          {% else %}
          <button
            class="btn accept-btn"
            data-id="{{ recruit.uniqname }}"
            style="background-color: green; color: white"
          >
            Accept
          </button>
          {% endif %}
          <button
            class="btn remove-btn"
            data-id="{{ recruit.uniqname }}"
            style="background-color: red; color: white"
          >
            X
          </button>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if can_change %}
  <button
    id="move-recruits-btn"
    class="btn"
    style="background-color: #da3a37; color: white"
  >
    Move Accepted Recruits to Brothers
  </button>
  {% endif %}
</section>

<script>
  $(document).ready(function() {
      $(document).on('click', '.accept-btn', function() {
          var $button = $(this);
          var id = $button.data('id');
          var line_num = $('#recruit-' + id).find('.line-num').val();
          var lion_name = $('#recruit-' + id).find('.lion-name').val();

          if (!line_num || !lion_name || line_num == "None" || lion_name == "None") {
              alert('Please fill in both Line Number and Lion Name before accepting the recruit.');
              return;
          }

          $.ajax({
              type: 'POST',
              url: '{{ url_for('accept_recruit') }}',
              contentType: 'application/json',
              data: JSON.stringify({ id: id, line_num: line_num, lion_name: lion_name }),
              success: function(response) {
                  if (response.success) {
                      $button.removeClass('accept-btn').addClass('accepted-btn').text('Accepted').css({
                          "background-color": "grey",
                          "color": "black"
                      });
                  }
              }
          });
      });

      $(document).on('click', '.accepted-btn', function() {
          var $button = $(this);
          var id = $button.data('id');

          $.ajax({
              type: 'POST',
              url: '{{ url_for('unaccept_recruit') }}',
              contentType: 'application/json',
              data: JSON.stringify({ id: id }),
              success: function(response) {
                  if (response.success) {
                      $button.removeClass('accepted-btn').addClass('accept-btn').text('Accept').css({
                          "background-color": "green",
                          "color": "white"
                      });
                  }
              }
          });
      });

      $('.remove-btn').click(function() {
          var id = $(this).data('id');
          $.ajax({
              type: 'POST',
              url: '{{ url_for('remove_recruit') }}',
              contentType: 'application/json',
              data: JSON.stringify({ id: id }),
              success: function(response) {
                  if (response.success) {
                      $('#recruit-' + id).remove();
                  }
              }
          });
      });

      $('#move-recruits-btn').click(function() {
          $.ajax({
              type: 'POST',
              url: '{{ url_for('move_recruits') }}',
              success: function(response) {
                  if (response.success) {
                      alert('Accepted recruits moved to brothers!');
                      location.reload();
                  }
              }
          });
      });
  });
</script>
{% endblock %}
