{% extends 'portal_base.html' %}
{% block content %}
<!-- Welcome Section with Original Styling -->
<section class="welcome mb-4">
    <h1>Welcome back, {{ session.get('name') }}!</h1>
    <p>Stay updated with the latest fraternity news and events.</p>
</section>

<!-- Calendar Section -->
<section class="card mb-4">
    <div class="card-header text-center">
        <h2 class="mb-0">Fraternity Calendar</h2>
    </div>
    <div class="card-body text-center">
        <!-- FullCalendar here -->
        <div id="calendar"></div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    fetch('/get-events') // Call the server endpoint to get events
        .then(response => response.json())
        .then(data => {
            console.log(data)
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: data.items, // Use the fetched events
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                }
            });
            calendar.render();
        });
});

</script>
{% endblock %}
