{% extends 'portal_base.html' %}
{% block content %}
<section class="welcome">
    <h1>Welcome back, {{ session.get('name') }}!</h1>
    <p>Stay updated with the latest fraternity news and events.</p>
</section>
<br>
<section class="calendar">
    <h2>Fraternity Calendar</h2>
        <!-- Embed Google Calendar iframe here -->
        <iframe src="https://calendar.google.com/calendar/embed?src=c_68d23489a7857366e4aebecc57682f6e23861729962c1d1f8ea02f2516c994d7%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</section>
{% endblock %}
